.btn {
    font-size: 16px;
    line-height: 20px;
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    border-color: #00f;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #214CD8 0%, #0065DE 100%);
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(-90deg, #214CD8 0%, #0065DE 100%);
}